body {
    background-color: #dfd8d0; /* 背景顏色設定為淺灰色 */
}

.custom-btn { /**客製按鈕/
    border-radius: 0; /* 去除圓角 */
    background-color: #97A5C0; /* 背景顏色 */
    color: #000000; /* 文字顏色 */
    font-size: 15px; /* 文字大小 */
    padding: 8px 16px; /* 內邊距 */
    border: none; /* 去除邊框 */
}


.table {
    border-collapse: collapse; /* 合併表格邊框 */
}
.table th, .table td {
    border: none; /* 去除表格中的邊框 */
    padding: 8px; /* 增加內邊距 */
}
.table tr:nth-child(odd) {/* 奇數行背景顏色 */
    background-color: rgb(221, 221, 221);
    
}
.table tr:nth-child(even) {/* 偶數行背景顏色 */
    background-color: whitesmoke;
}




.table-header {
    height: 15px; 
    vertical-align: middle; /* 垂直置中對齊內容 */
}
.table-body {

    vertical-align: middle; /* 垂直置中對齊內容 */
}

