<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/allPosts.css">
    <link rel="stylesheet" type="text/css" href="css/bar.css">


</head>

<body>
    <div id="app" class="container">
        <!--<h1>花壇</h1>-->
        <nav class="top-nav" :class="{ 'hidden': isNavHidden }">
            <a style="text-decoration: none; font-size: 70px;" href="allPosts-google.html" class="home">花壇</a>
            <a style="text-decoration: none;">{{this.nicknameValue}}</a>
            <a v-if="loggedIn == false" style="text-decoration: none; cursor: pointer;" href="login.html">登入</a>
            <a v-if="loggedIn == true" style="text-decoration: none; cursor: pointer;" @click="logout">登出</a>
        </nav>

        <div  style="margin-top: 50px;">
            <button v-if="loggedIn == false" class="custom-btn mt-3" @click="goToLogin">登入以發表</button>
            <button v-if="loggedIn == true" class="custom-btn mt-3" @click="goToCreatePostPage">發表文章</button>
        </div>
        <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="輸入搜尋內容" v-model="keyword">
            <!--<select class="form-select" v-model="selectedSboard">
                <option value="">所有分類</option>
                <option value="1">初階課程</option>
                <option value="2">進階課程</option>
                <option value="3">花束</option>
                <option value="4">手工皂</option>
                <option value="5">個人宣傳</option>
                <option value="6">廠商宣傳</option>
                <option value="7">栽種相關</option>
                <option value="8">工具相關</option>
            </select>-->
            <button class="btn btn-outline-secondary" type="button" style="background-color: 97A5C0;" @click="doSearchPosts">搜尋</button>
        </div>
        <div>
            <button class="custom-btn mt-3" @click="goToAllPosts">所有文章</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(1)">初階課程</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(2)">進階課程</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(3)">花束</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(4)">手工皂</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(5)">個人宣傳</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(6)">廠商宣傳</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(7)">栽種相關</button>
            <button class="custom-btn mt-3" @click="filterPostsBySboard(8)">工具相關</button>
        </div>
        <div class="input-group mt-3">
            <select class="form-select" v-model="sortOption" @change="sortPosts()">
                <option value="latestActivity">依最新動態排序</option>
                <option value="normalDesc">依最新文章排序</option>
                <!-- 添加其他排序選項 -->
            </select>
        </div>


        <!--    
        <ul class="list-group">
            <li class="list-group-item" v-for="post in posts" :key="post.postID">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <a v-bind:href="'postAndReplies-google.html?postID=' + post.postID">{{ post.postTitle }}</a>
                    <button style="font-size: 15px;" class="" @click="deletePost(post.postID)">刪除文章</button>
                    <button style="font-size: 15px;" class="" @click="goToUpdatePostPage(post.postID)">編輯文章</button>
                </div>
            </li>
        </ul>
-->
        
        <!--<table class="table">
            <thead class="table-header">
                <tr>
                    <th scope="col">預覽</th>
                    <th scope="col">標題</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody class="table-body" style="height: 110px;">
                <tr v-for="post in posts" :key="post.postID">
                    <td style="width: 110px; height: 110px;">
                        <div>
                            <img v-if="post.postImageURL" :src="post.postImageURL" alt="圖片" style="width: 100%; height: auto;">
                            <img v-else src="image/defult img02.png" alt="預設圖片" style="width: 100%; height: auto;">
                        </div>
                    </td>
                    <td>
                        <div>
                            <a style="font-size: 25px; text-decoration: none;" v-bind:href="'postAndReplies-google.html?postID=' + post.postID">{{ post.postTitle }}</a>
                        </div>
                        <div>
                            <span v-html="shortenContent(post.postContent)"></span>
                        </div>
                    </td>
                    <td style="width: 150px;">
                        <div v-if="nicknameValue == post.authorNickname">
                            <button style="font-size: 15px;" class="" @click="deletePost(post.postID)">刪除文章</button>
                            <button style="font-size: 15px;" class="" @click="goToUpdatePostPage(post.postID)">編輯文章</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>-->
        <table class="table">
    <thead class="table-header">
        <tr>
            <th scope="col">預覽</th>
            <th scope="col">標題</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody class="table-body" style="height: 110px;">
        <tr v-for="post in posts" :key="post.postID">
            <td style="width: 110px; height: 110px; text-align: center;">
                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                    <div>
                        <img v-if="post.postImageURL" :src="post.postImageURL" alt="圖片" style="max-width: 100%; max-height: 100%;">
                        <img v-else src="image/defult img02.png" alt="預設圖片" style="max-width: 100%; max-height: 100%;">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <a style="font-size: 25px; text-decoration: none;" v-bind:href="'postAndReplies-google.html?postID=' + post.postID">{{ post.postTitle }}</a>
                </div>
                <div>
                    <span v-html="shortenContent(post.postContent)"></span>
                </div>
            </td>
            <td style="width: 150px;">
                <div v-if="nicknameValue == post.authorNickname">
                    <button style="font-size: 15px;" class="" @click="deletePost(post.postID)">刪除文章</button>
                    <button style="font-size: 15px;" class="" @click="goToUpdatePostPage(post.postID)">編輯文章</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>




    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.43/dist/vue.global.min.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isNavHidden: false, // 初始化為 false，顯示導航bar欄
                    posts: [],
                    keyword: '',
                    selectedSboard: '',
                    loginStaus: '你好',
                    postImageURL: '',
                    //var a1 = true && true; // t && t 回傳 true
                    //idConform: '' // 初始值設為 false
                    //forummemberIDValue: ''//後來改成認nickname
                    nicknameValue: '',
                    loggedIn: false,
                    sortOption: '選擇排序',
                };
            },
            mounted() {
                window.addEventListener('scroll', this.handleScroll); // 監聽頁面的滾動事件
                const nicknameCookie = this.getCookie('sessionNickname');
                const forummemberIDCookie = this.getCookie('sessionForummemberID');
                if (nicknameCookie && forummemberIDCookie) {
                    this.loggedIn = true;
                }
                axios.get("http://localhost:8085/forum/postsDesc")
                    .then(response => {
                        this.posts = response.data;
                        console.log(response.data)
                        //test01 = response.data[18].postContent;
                        //console.log(response.data[18].postContent);
                        this.extractImageURL(1); // 在資料加載後執行提取圖片的方法
                        //const regex = /src="([^"]*)"/;
                        //const xxx = regex.exec(test01);
                        //console.log(xxx);
                        // 使用示例：假設你要獲取名為 sessionNickname 的 Cookie 的值
                        this.nicknameValue = this.getCookieValue('sessionNickname');
                        var forummemberIDValue = this.getCookieValue('sessionForummemberID')//後來改成認nickname
                        console.log('Nickname:', this.nicknameValue);
                        console.log('ForummemberID:', forummemberIDValue);
                        //console.log('ForummemberID:', forummemberIDValue); //因為我要在上面用到forummemberIDValue，所以一開始要在data區先初始化，所以這行會是空而報錯，須改成下面那行才能顯示
                        //console.log('ForummemberID:', this.forummemberIDValue);
                    })
                    .catch(error => {
                        console.error('Error fetching posts:', error);
                    });
            },
            beforeUnmount() {
                // 在組件卸載前，移除滾動事件監聽器，以防止內存洩漏
                window.removeEventListener('scroll', this.handleScroll);
            },
            methods: {
                handleScroll() { // 監聽滾動事件的方法
                    const scrollY = window.scrollY; // 獲取頁面的垂直滾動距離
                    // 如果滾動距離超過某個閾值，則隱藏導航欄，否則顯示導航欄
                    this.isNavHidden = scrollY > 80; // 這裡的閾值可以根據實際情況調整
                },
                goToLogin() {
                    window.location.href = "login.html"
                },
                goToAllPosts() {
                    window.location.href = "allPosts-google.html"
                },
                shortenContent(shortcont) {
                    // 移除 <p> 標籤
                    let plainText = shortcont.replace(/<p[^>]*>/g, '').replace(/<\/p>/g, '');
                    // 截斷內容
                    if (plainText.length > 50) {
                        return plainText.substring(0, 50) + '...';
                    } else {
                        return plainText + '...';
                    }
                },
                extractImageURL(n) {
                    this.posts.forEach(post => {
                        // 使用正則表達式從 postContent 中提取圖片的 src 屬性值
                        const regex = /src="([^"]*)"/;
                        const xxx = regex.exec(post.postContent);
                        if (xxx && xxx.length > n) { //這個判斷一定要加，不然沒有圖的文章會因找不到圖而報錯
                            post.postImageURL = xxx[n];
                        } else {
                            post.postImageURL = ''; // 無圖者設定為空
                        }

                    });
                },
                getCookieValue(cookieName) {
                    // 獲取所有的 Cookie (所謂一個是: sessionNickname=Yoro)
                    var cookies = document.cookie.split(';');
                    // 遍歷每個 Cookie
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // 如果找到了目標名稱的 Cookie 
                        if (cookie.startsWith(cookieName + '=')) {
                            return cookie.substring(cookieName.length + 1);// 提取並返回該 Cookie 的值
                        }
                    }
                    return '';// 如果未找到對應的 Cookie，返回空字符串或者其他指定的值
                },
                filterPostsBySboard(sboardID) {
                    axios.get(`http://localhost:8085/forum/sboard=${sboardID}/postsDesc`)
                        .then(response => {
                            this.posts = response.data;
                            console.log(response)
                            this.extractImageURL(1); // 在資料加載後執行提取圖片的方法
                            //window.location.href = `allPosts-google.html?sboardID=${sboardID}`
                        });
                },
                doAllPostsByLastActivity() {
                    axios.get("http://localhost:8085/forum/postsLatestDesc")
                        .then(responseLA => {
                            console.log(responseLA)
                            this.posts = responseLA.data;
                            this.extractImageURL(1); // 在資料加載後執行提取圖片的方法
                        })
                        .catch(errorLA => {
                            console.error('最新動態排序錯誤:', errorLA);
                        });
                },
                doAllPostsDesc() {
                    axios.get("http://localhost:8085/forum/postsDesc")
                        .then(responseAD => {
                            console.log(responseAD)
                            this.posts = responseAD.data;
                            this.extractImageURL(1); // 在資料加載後執行提取圖片的方法
                        })
                        .catch(errorAD => {
                            console.error('最新動態排序錯誤:', errorAD);
                        });
                },
                sortPosts() { // 定義方法，根據所選擇的排序選項來排序文章
                    if (this.sortOption === 'latestActivity') {
                        this.doAllPostsByLastActivity();
                    } else if (this.sortOption === 'normalDesc') {
                        this.goToAllPosts();
                    }
                },
                doSearchPosts() {
                    axios.get(`http://localhost:8085/forum/search/${this.keyword}`)
                        .then(response => {
                            this.posts = response.data;
                            console.log(response)
                            this.extractImageURL(1); // 在資料加載後執行提取圖片的方法
                        });
                },
                goToCreatePostPage() {
                    window.location.href = "posttest00-vue-main.html"; // 更改為你的發表文章頁面的URL
                },
                goToUpdatePostPage(postID) {
                    window.location.href = `posttest-update00-vue-main.html?postID=${postID}`; // 更改為編輯文章頁面的URL
                },
                deletePost(postID) {
                    console.log(`刪除文章 ${postID}`);
                    // 使用 axios.delete() 方法發送 DELETE 請求到後端的 API 端點
                    axios.delete(`http://localhost:8085/forum/posts/${postID}`)
                        .then(response => { // 刪除回覆成功後的處理
                            console.log('刪除回覆成功:', response.data);
                            // 根據後端處理的結果，更新前端的 UI 或執行其他操作
                            // 這裡可以從前端列表中刪除相應的回覆
                            const index = this.posts.findIndex(post => post.postID === postID);
                            if (index !== -1) {
                                this.posts.splice(index, 1);
                            }
                        })
                        .catch(error => {// 刪除回覆失敗後的處理
                            console.error('刪除回覆失敗:', error);
                        });
                },
                getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                },
                logout() {
                    // 清除相關的 Cookie
                    document.cookie = 'sessionNickname=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                    document.cookie = 'sessionForummemberID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                    window.location.href = "allPosts-google.html"; 
                },
            }
        });

        app.mount("#app");
    </script>
</body>

</html>